.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 37px;
  }
  
  .map-frame {
    border: 3px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }


  .round {
    border-radius: 40%;
    background-color: red;
  }

  .square {
    width: 30px; 
    height: 30px; 
    display: inline-block;
    border: 1px solid;
    margin-right: 10px;
    margin: 2px;

  }

  .legend{
    bottom: 35px
  }