/* You can add global styles to this file, and also import other style files */
.cluster-icon {
    background-color: transparent;
}

.cluster-icon-html {
    border-radius: 10px;
    border: 3px black solid;
    padding:3px;
    padding-left:10px;

    /*background-color: pink;*/
    display: block;
    width: max-content;
}